<h1 class="text-4xl text-purple-600 font-bold">¡Tailwind funcionando!</h1>
<app-card
[title] = "'Titulo desde el padre'"
[contenido] = "'Contenido desde el padre'"
(clicked)="handleChildEvent($event)"
>
</app-card>
<p>Mensaje del hijo: {{childMessage}}</p>



<br>
<br>
<br>
<br>

<!-- Interpolacion -->
<h1>{{title()}}</h1>
<h2>Mi nombre es {{name}} y mi apellido es {{lastName}} y tengo {{age}} años</h2>
<h2>En 5 años tendré {{age + 5 }} años</h2>
<h2>Esta activo o no? = {{isActive}}</h2>

<!-- Property Binding -->
<input [value]="name">
<img [src]="imageURL" alt="logo of my life" width="500">
<br>
<br>
<br>

<!-- Ejercicios de Property Binding -->
<!-- Mostrando nombre por input con binding -->
<input [value] = "username">

<!-- Habilitando o Desabilitando un boton con binding -->
<button 
[disabled]="isDisable"
class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 
transition"
(click)="onClick()"
>Haz Click</button>

<!-- Agregando una imagen -->
 <img [src]="image2" alt="Imagen random" width="500" height="500">

 <p [style.color]="isRed ? 'red' : 'blue'">Color del Texto</p>

<!-- Clases Dinamicas -->
<p [class.active]="isActive1">Este es un ejemplo de una clase dinamica</p>

<!-- Mostrar varias imagenes desde un array -->
<div>
    @for (img of images; track $index){
        <img [src]="img" alt="Imagen {{$index}}" width="500">
    }
</div>

<!-- Event Binding -->
<!-- Al presionar click se haga una accion -->
<button 
class="mt-4 px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-blue-600 
transition"
(click)="onClick()"
>Haz Click</button>

<!-- mostrar texto en pantalla -->
<p>{{message}}</p>
<button 
class="mt-4 px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-blue-600 
transition"
(click)="showMessage()"
>Haz Click</button>

<br>
<!-- Capturar valor de un input -->
 <!-- En tiempo real esta viendo lo que se va escribiendo -->
<input (input)="onInput($event)" placeholder="Escribe algo...">
<p>{{ inputValue }}</p>


<br>
<br>

<!-- Contador -->
<h2 class = "text-black">{{counter}}</h2>
<button
 class="mt-4 px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-blue-600 
transition" 
(click)="increment()"
>Incrementar</button>

<button
 class="mt-4 px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-blue-600 
transition" 
(click)="decrement()"
>Decrementar</button>

<!--  Mini To do App -->
<h2 class="text-xl font-bold">Mini ToDo App</h2>

<!-- Input + Botón -->
<input #taskInput type="text" placeholder="Escribe una tarea"
  class="border rounded px-2 py-1">
<button 
  (click)="addTask(taskInput.value)" 
  class="ml-2 px-4 py-1 bg-green-600 text-white rounded hover:bg-green-700"
>
  Agregar
</button>

<!-- Lista de tareas -->
<ul class="mt-4 list-disc list-inside">
  @for (task of tasks; track $index) {
    <li>{{ task }}</li>
  }
</ul>



<!-- Two Way Binding -->
<!-- 1) Texto -->
<label>Nombre: </label>
<input type="text" [(ngModel)]="name_twb">
<p>Hola, {{ name_twb }} 👋</p>

<!-- 2) Número + botones -->
<label>Edad:</label>
<input type="number" [(ngModel)]="age_twb">
<button
(click) ="age_twb = age_twb + 1"
>+</button>
<button
(click) ="age_twb = age_twb - 1"
>-</button>
<p>Edad actual: {{ age_twb }}</p>

<!-- 3) Checkbox -->
<label>
  <input type="checkbox" [(ngModel)]="isActive_twb">
  ¿Activo?
</label>
<p>Estado: {{ isActive_twb ? 'Activo ✅' : 'Inactivo ❌' }}</p>

<!-- 4) Select -->
<label>Color favorito:</label>
<select [(ngModel)]="color_twb">
  @for (c of colors_twb; track c) {
    <option [value]="c">{{ c }}</option>
  } @empty {
    <option disabled selected>No hay colores</option>
  }
</select>
<p>Elegiste: {{ color_twb }}</p>



<!-- @Input() -->
<!-- Al final no coloque nada porque use la card que a es arriba-->

<!-- Vamos a hacer ejercicios -->
<!-- Crear un componente llamado TitleComponent y pasarle un texto a un H1 con Input -->
<hr>
<br>
<br>
<br>
<app-title-component 
[title]="'Titulo desde el Padre'" 
[content] = "'Contenido desde el Padre'"
(mensaje)="eventoDelHijo($event)"
>
</app-title-component>
<p>{{mensajedeltitle}}</p>